<%- include("partials/header"); -%>
<h1>Your player was successfully added</h1>
<a href="/createteam"><h3>Click here to go back to team building platform </h3></a>

<%- include("partials/footer"); -%>
