<%- include("partials/header"); -%>
<h1>Admin Panel</h1>
<a href="/Abatsman"><h3>Click here to add batsman to system database </h3></a>
<a href="/Abowler"><h3>Click here to add bowler to system database </h3></a>
<a href="/Aallrounder"><h3>Click here to add all-rounders to system database </h3></a>
<a href="/Acoach"><h3>Click here to add coaches to system database </h3></a>
<a href="/user"><h3>Click here to see details of all the registered users</h3></a>

<%- include("partials/footer"); -%>
