<%- include("partials/header"); -%>

<h1>Your Team</h1>
<a href="/Ubatsman"><h3>Click here to see your Batsmen </h3></a>
<a href="/Ubowler"><h3>Click here to see your Bowlers </h3></a>
<a href="/Uallrounder"><h3>Click here to see your All-Rounders </h3></a>
<a href="/Ucoach"><h3>Click here to see your Coaches </h3></a>


<%- include("partials/footer"); -%>
