<%- include("partials/header"); -%>

<h1 class="display-1">Welcome to our team building platform</h1>
<h2>Available credits with you <%= price %></h2>
<h2>Add player to your team</h2>
<a href="/batsman"><h3>Click here to choose Batsman </h3></a>
<a href="/bowler"><h3>Click here to choose Bowler </h3></a>
<a href="/allrounder"><h3>Click here to choose Allrounder </h3></a>
<a href="/coach"><h3>Click here to choose Coach </h3></a>

<h2>Delete player from your team</h2>
<a href="/Dbatsman"><h3>Click here to delete Batsman </h3></a>
<a href="/Dbowler"><h3>Click here to delete Bowler </h3></a>
<a href="/Dallrounder"><h3>Click here to delete All-Rounder </h3></a>
<a href="/Dcoach"><h3>Click here to delete Coach </h3></a>
<a href="/completeteam"><h2>Click here to see your complete team </h2></a>
<%- include("partials/footer"); -%>
