<%- include("partials/header"); -%>
<h1>Login Screen</h1>

<form class="" action="/login" method="post">
  <div class="form-group">
    <label>UserID</label>
    <input class="form-control" type="text" name="userid">
    <label>Password</label>
    <input type="password" name="password" class="form-control">
  </div>
  <button class="btn btn-primary" type="submit" name="button">LogIN</button>
</form>
<%- include("partials/footer"); -%>
